
@{
    ViewBag.Title = "Index";
}

<h2 class="texto-index">Armazenamento de Estoque de Produtos MaryKay - Consultora Inês Alves</h2>
<div class="text-center">
    <img class="logoMaryKey" src="~/Content/Images/Mary-Kay-Logo-03.jpg" />
</div>
@*<form class="form-group" action='@Url.Action("RelatorioProdutos","Relatorio")'>
    <input placeholder="Pesquisar um Produto" type="text" name="nome" id="nome" />
    <input type="submit" value="Pesquisar" class="btn" id="Pesquisar" />
</form>*@
