body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.autocompleteInput{
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius:3px;
}

.autocompleteInput:focus{
    border: solid 1px #f6aed3;
    box-shadow: 0 0 5px 1px #a551b9;
}
.btnLogin{
    margin-bottom:20px;
}
.login{
    border: 2px groove #ccc;
    border-radius: 5px;
    width: 45%;
    background-color: #f1f1f1;
    height: auto;
    min-height:210px;
    overflow:auto;
    padding-top: 2%;
    margin: 0 auto;

}
.form-group{
    width:60%;
}
.table-inverse{
    color: #eceeef;
    background-color: #373a3c;
}

.table-inverse thead th{
    border-color:#55595c;
}

.btnAdd{
    color:#fff;
    cursor:pointer;
}
.btnAdd:hover{
    text-decoration:none;
    color:#b0b0b0;
}
@media screen and (max-width: 770px) {
    div .divSair{
        float:none !important;
        text-align:center !important;
        height:50px;
    }
    .navbar-collapse.in{
            overflow-y: inherit;
    }
}
@media screen and (max-width: 1000px) {
    .inputStyle{
        width:60%;
    }
    .form-group{
        width:80%;
    }
}
@media screen and (max-width: 594px){
    div .panel{
        min-width: 547px;
    }
}

@media screen and (max-width: 670px) {
    .table>thead>tr>th{
        font-size:12px;

    }
    .table>tbody>tr>td{
        font-size:10px;
    }
    h2{
        font-size:20px;
    }
    h4{
        font-size:16px;
    }
    .inputStyle{
        width:60% !important;
    }
    .form-group{
        width:95% !important;
    }
}

table tr th{
        border-color: #55595c !important;
        vertical-align:middle !important;
        text-align: center !important;
}
table tr td{
        border-color: #55595c !important;
        vertical-align:middle !important;
        text-align: center !important;
}


.botao{
    background-color:#f6aed3;
    color:black;
}

.botao-Logout{
    background-color:#272727;
    text-decoration: none;
    color:#808080;

}

.input-Style{
    text-decoration:none;
    padding: 7px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius:3px;
    width:95%;
}
.input-Style:focus{
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.botao-Logout:hover{
    text-decoration:none;
    color:#ccc;
}

.botao-Logout:active{
    text-decoration:none;
}

.alert-meuEfeito{
    border-radius:4px;
    border-width:1px;
    border-color:black;
}

.texto-index{
    text-align: center;
}

.alert-infoValores{
    color: #424242;
    background-color: rgba(88, 88, 88, 0.06);
    border-color: rgba(62, 62, 62, 0.32);
}

.logoMaryKey{
    width:40%;
    height:30%;
    vertical-align:middle;
}

.hoverEfectTable:hover{
    background-color:#414141;
}

.inputStyle{
    padding-right: 10px;
    width: 70%;
    float:right;
}

.pos-absolute{
    position:absolute;
}