body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.autocompleteInput{
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius:3px;
}

.autocompleteInput:focus{
    border: solid 1px #f6aed3;
    box-shadow: 0 0 5px 1px #a551b9;
}

.login{
    border: 2px groove #ccc;
    border-radius: 5px;
    width: 400px;
    background-color: #f1f1f1;
    height: 250px;
    padding-top: 2%;
    margin-left:32.5%;

}

.botao{
    background-color:#f6aed3;
    color:black;
}

.botao-Logout{
    background-color:#272727;
    text-decoration: none;
    color:#808080;

}

.input-Style{
    text-decoration:none;
    padding: 7px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius:3px;
}

.input-Style:focus{
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.botao-Logout:hover{
    text-decoration:none;
    color:#ccc;
}

.botao-Logout:active{
    text-decoration:none;
}

.alert-meuEfeito{
    border-radius:4px;
    border-width:1px;
    border-color:black;
}

.texto-index{
    color:crimson;
    text-align: center;
}
.logoMaryKey{
    width:50%;
    height:40%;
    vertical-align:middle;
}

.hoverEfectTable:hover{
    background-color:#e8e4e4;
}